<h1>Add a new client to @Model.GetName()</h1>

<form action='/stylists/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <label for='newClientName'>Client Name: </label>
  <input id='newClientName' name='newClientName' type='text' required>
  <br><br>
  <label for='newClientPhone'>Client Phone: </label>
  <input id='newClientPhone' name='newClientPhone' type='text' required>
  <br><br>
  <button type='submit'>Add Client</button>
</form>
